mixin steps()
    section.steps
        .steps__wrap.wrap
            .steps__main
                h2.steps__title.title-2 Обеспечиваем ответственное <br> сопровождение от заявки <br> до монтажа
                .steps__slider.slider
                    .slider__pagination.pagination
                        .pagination__elem
                            span 1
                        .pagination__elem
                            span 2
                        .pagination__elem
                            span 3
                        .pagination__elem
                            span 4
                        .pagination__elem
                            span 5
                        .pagination__elem
                            span 6
                    .slider__main
                        .slider__btn-slide
                            img(src="../assets/images/arrow.svg")
                        .slider__slide-container
                            .slider__slide(id=slide__1)
                                .slider__img: img(src="../assets/images/1.webp")
                                .slider__content--btn
                                    .slider__left
                                        h3.slider__title Заявка
                                        p.slider__text Вы оставляете заявку и в течение 15 минут Вам <br> перезванивает наш менеджер. Если он перезвонит позже <br> c нас скидка 10%
                                    button.slider__slide-btn.btn-main оставить заявку
                            //- .slider__slide(id=slide__2)
                            //-     .slider__img: img(src="../assets/images/2.webp")
                            //-     .slider__content
                            //-         h3.slider__title Расчет цены за 15 минут
                            //-         p.slider__text После того, как менеджер узнает о Ваших пожеланиях, <br> он производит расчет стоимости в течение 15 минут.
                            //- .slider__slide(id=slide__3)
                            //-     .slider__img: img(src="../assets/images/3.webp")
                            //-     .slider__content
                            //-         h3.slider__title Бесплатный замер на объекте
                            //-         p.slider__text Главный инженер выезжает на замер в заранее <br> оговоренные время и день с образцами и дает <br>  дополнительую консультацию по проекту.
                            //- .slider__slide(id=slide__4)
                            //-     .slider__img: img(src="../assets/images/4.webp")
                            //-     .slider__content
                            //-         h3.slider__title Оформляем документы у Вас дома
                            //-         p.slider__text Мы отправляем на замер только компетентное и юридически ответственное лицо, <br> которое грамотно составит договор, проект и смету с соблюдением всех нюансов <br> в комфортной для Вас обстановке.
                            //- .slider__slide(id=slide__5)
                            //-     .slider__img: img(src="../assets/images/5.webp")
                            //-     .slider__content
                            //-         h3.slider__title Изготавливаем от 7 дней
                            //-         p.slider__text Подбираем соответствующие профильные системы и изготавливаем <br>  изделие по индивидуальным параметрам Вашего оконного проема.
                            //- .slider__slide(id=slide__6)
                            //-     .slider__img: img(src="../assets/images/6.webp")
                            //-     .slider__content
                            //-         h3.slider__title Доставляем и устанавливаем
                            //-         p.slider__text Наши специалисты доставляют готовое окно на Ваш объект, <br> осуществляют монтаж и сдают Вам акты выполненых работ.
                        .slider__btn-slide.slider__btn-slide--right
                            img(src="../assets/images/arrow.svg")
        //- .steps__transition-img: img(src="../../assets/images/step-bottom.png")    
                




                